@import '../../sass/variables';

.video-player{
  background-color: black;
}
.rating-block{
  height: 100px;
  background-color: $black-light;
  padding-top: 35px;
  .video-name, .rating{
    font-size: 24px;
  }
  #rating-stars>span:focus{
    outline: none !important;
  }
}

#video-block{
  padding: 0;
}






