<div class="friends-list">
<div class="info">
	<p><span class="name">Username</span>: {{$ctrl.profile.name}}</p>
	<p><span class="name">Email</span>: {{$ctrl.profile.email}}</p>
</div>

	<div class="friends">
		<form ng-if="$ctrl.me" name="search" target="#here" method="POST">
			<h2>Find friend</h2>
			<input type="text" name="searchQuery" ng-model="searchQuery" placeholder="enter user name and press Search"/>
			<button type="submit" name="searchQuery" ng-click="$ctrl.searchFriends(searchQuery)">Search</button>
		</form>
		<br/>
		<div class="friends" ng-if="$ctrl.me" ng-repeat="user in $ctrl.searchResults track by $index">
		<span id="name" ng-if="$ctrl.me">
			<a ng-href="profile/{{user._id}}">{{user.name}} </a>
			<button type="submit" ng-click="$ctrl.addToFriends(user.name, user._id)">Add to friends</button>
			<span ng-if="!$ctrl.searchResults">Not found</span>
		</span>
	</div>
	<h2>Friends list</h2>
	<div class="friends" ng-repeat="friend in $ctrl.friends track by $index">
		<span id="name">
			<a ng-href="profile/{{friend._id}}">{{friend.name}} </a>
			<!--<button type="button" ng-click="$ctrl.deleteFriend(friend._id)">Delete Friend</button>-->
		</span>
	</div>
	<h2>Invites to sessions</h2>
	<div class="friends" ng-repeat="invite in $ctrl.invites track by $index">
		<span id="name">
			<a ng-href="common-watch/{{invite.session}}">Author: {{invite.creator}} - Session video: {{invite.video}} </a>
			<!--<button type="button" ng-click="$ctrl.deleteFriend(friend._id)">Delete Friend</button>-->
		</span>
	</div>
</div>
