$icon-font-path: '/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~bootstrap-social/bootstrap-social.scss';
$fa-font-path: '/assets/fonts/font-awesome/';
@import '~font-awesome/scss/font-awesome';
@import '../sass/variables';
@import url(https://fonts.googleapis.com/css?family=Cabin);

/**
 * App-wide Styles
 */

body {
  font-family: $font-family-base;
  font-size: $font-size-base-bigger;
  color: $gray-light;
}

input, button {
  outline: 0;
}

.nav {
  .li-item {
    height: 70px;
    color: $gray;
    padding: 9px 25px;
    font-weight: bold;
  }
}

.navbar {
  margin-bottom: 0;
}

.navbar-default {
  background-color: white;
  border: $border-thin-light;
  .navbar-brand {
    padding: 10px 15px 15px 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    &:hover #brand {
      color: $black;
    }
    &:hover #logo {
      opacity: 0.7;
    }
  }
  #logo {
    width: 50px;
    height: 50px;
  }
  #brand {
    width: 50px;
    height: 50px;
    font-weight: bold;
    font-size: $font-size-base-bigger;
    margin-left: 5px;
    margin-top: 5px;
  }
  .navbar-nav {
    li {
      a {
        height: 70px;
        color: $gray;
        padding: 25px;
        font-weight: bold;
      }
    }
  }
  .navbar-collapse {
    border: none;
  }
  .navbar-header {
    height: 70px;
  }
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: $red;
  color: white;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

a.btn-social:hover{
  color: $gray;
}

.social {
  margin-top: 30px;
  text-align: center;
}

// Component styles are injected through gulp
/* inject:scss */
@import 'admin/admin';
@import 'common-watch/common-watch';
@import 'components/chat/chat.component';
@import 'components/comments-block/comments-block.component';
@import 'components/video-list/video-list.component';
@import 'components/video-player/video-player.component';
@import 'index/index';
@import '../components/footer/footer';
@import '../components/modal/modal';
@import '../components/oauth-buttons/oauth-buttons';
/* endinject */
