@import '../../../sass/variables';

chat{
  background-color: $gray-blue;
  padding-top: 20px;
  box-sizing: border-box;
}
.chat {
  color: $gray-light;
  padding: 0;
  position: relative;
  height: 485px;


  h1 {
    margin-top: 0;
  }
  .name {
    font-size: $font-size-base-bigger;
  }
  .message {
    font-size: $font-size-base-big;
  }
  .date{
    font-size: 10px;
  }
  input{
    background-color: $gray-blue;
    border: $gray-light 2px solid;
    border-radius: 3px;
    outline: 0;
    color: $gray-light;
    position: absolute;
    bottom: 15px;
    padding: 5px;
    width: 100%;
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px $gray-blue inset;
  }
}
